<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
<!-- 웹 애플리케이션이 처음 시작될 때 실행되는 리스너 -->
<!-- /WEB-INF/spring/root-context.xml 설정파일에 따라 스프링 객체컨테이너를 생성, 스프링 본체 중 하나 -->
<!-- DispatcherServlet이 생성한 객체 컨테이너의 부모컨테이너로서 작동 -->
<!-- 다수의 DispatcherServlet들이 함께 공유하는 객체들을 등록할 때 사용 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
<!-- 스프링의 본체 : servlet-mapping > url-pattern의 경로로 요청이 오면 실행 -->
<!-- DispatcherServlet은 스프링 본체로서, 서블릿의 역할과 객체컨테이너의 역할을 수행 -->
<!-- /WEB-INF/spring/appServlet/servlet-context.xml 설정파일의 내용대로 객체를 생성하여 사용 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
<!-- 		설정파일 위치(변경 가능) -->
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
<!-- / : default servlet 경로, 없는 것 요청 시 실행 -->
<!-- 		<url-pattern>/</url-pattern> -->

<!-- *.do로 끝나는 주소로 요청이 올때만 DispatcherServlet 실행 -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>
